<!DOCTYPE HTML>
<html>
<head>
    <title>ojak</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>register Page</h1>
    <form action="/api/register" method="post">
        아이디 : <input type="text" name="uid"><br>
        비밀번호 : <input type="text" name="upw"><br>
        이름 : <input type="text" name="uname"><br>
        토큰 : <input type="text" name="token"><br>
        이메일 : <input type="text" name="email"><br>
        <input type="submit" value="register">
    </form>
</body>
</html>